.myCustomClass {
    padding: 0 !important;
}
.myCustomClass:nth-child(1) {
    padding-right: 10px !important;
}
.css-13cymwt-control {
    padding-left: 10px;
    border-radius: 17px  !important;
}
