@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --amber_200: #fee280;
    --amber_200_01: #fde280;
    --amber_200_7f: #fee2807f;
    --black_900: #000000;
    --black_900_19: #00000019;
    --black_900_26: #00000026;
    --black_900_33: #00000033;
    --black_900_3f: #0000003f;
    --black_900_7f: #0000007f;
    --black_900_99: #00000099;
    --blue_gray_100: #d9d9d9;
    --gray_200: #eeeeee;
    --gray_400: #c2c2c2;
    --gray_400_01: #c8c8c8;
    --gray_500: #aaaaaa;
    --gray_600: #727272;
    --gray_600_01: #6d6a6a;
    --gray_900: #1c1c1c;
    --red_900: #aa0000;
    --red_a700: #b50202;
    --white_a700: #ffffff;
    --white_a700_7f: #ffffff7f;
    --shadow-xs: 0 0 14px 4px #00000019;
    --shadow-sm: 10px 10px 40px 0 #00000019;
    --shadow-md: 0 4px 3px 0 #0000003f;
    --shadow-lg: 0 0 7px 0 #00000026;
    --shadow-xl: 0 0 14px 4px #0000003f;
    --radius-xs: 6px;
    --radius-sm: 10px;
    --radius-md: 12px;
    --radius-lg: 14px;
    --radius-xl: 18px;
    --radius-2xl: 20px;
    --radius-3xl: 32px;
    --radius-4xl: 46px;
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 25px;
}


[type="text"],
    input:not([type]),
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
}

.bg-white-a700_7f {
    background-color: #ffffff7f;
}

/* Override default focus colors for tailwindcss-forms */
[type="text"]:focus,
    [type="email"]:focus,
    [type="url"]:focus,
    [type="password"]:focus,
    [type="number"]:focus,
    [type="date"]:focus,
    [type="search"]:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
    --tw-ring-color: transparent;
    border-color: transparent;
}

[type="radio"]:focus,
    [type="checkbox"]:focus {
    --tw-ring-color: transparent;
}

li:focus-visible {
    outline: none;
}

li:hover {
    cursor: pointer;
}

.nav-shadow {
    box-shadow: 0px 1px 2px #0208140f,0px 2px 8px #02081414;
}

@layer components {
    /* Container CSS */
.container-xs {
    @apply w-full mx-auto max-w-[1356px];
    }
}
